.PlayerContainer {
    display: flex;
    align-items: center;
}


.Player {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: purple;
    font: inherit;
    outline: none;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    width: 90%;
    margin-right: 0;
}

.Player:hover{
    color: violet;
}

