.Levels {
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    margin-bottom: 1.5rem;
    justify-content: center;
}
.Level {
    height: 3.5rem;
    width: 3.5rem;
    background-color: transparent;
    border: 1px solid rgb(40, 40, 255);
    color: rgb(40, 40, 255);
    font: inherit;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50%;
    line-height: 1;
    padding: 0;
}

.Level:not(:last-child) {
    margin-right: .5rem;
}

.Level:hover{
    color: rgb(0, 185, 185);
    border: 1px solid rgb(0, 185, 185);
}

@media only screen and (max-width: 600px) and (max-height: 300px) and (orientation: landscape) {
    .Level {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.2rem;
    }
}