.Level {
    background-color: transparent;
    border: 1px solid rgb(40, 40, 255);
    color: rgb(40, 40, 255);
    font: inherit;
    display: inline-block;
    outline: none;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1000%;
}

.Level:hover{
    color: rgb(0, 185, 185);
    border: 1px solid rgb(0, 185, 185);
}

