.Toolbar {
    height: 5.6rem;
    box-sizing: border-box;
    width: 100vh;
    background-color: rgb(142, 172 , 174);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    box-sizing: border-box;
}

@media only screen and (max-width:1100px) and (orientation: portrait) {
    .Toolbar {
        width: 95%;
    }
}
@media only screen and (max-width: 600px) and (orientation: portrait){
    .Toolbar {
        width: 95%;
    }
}

@media only screen and (max-width: 600px) and (max-height: 300px) and (orientation: landscape){
    .Toolbar {
        width: 75%;
    }
}
