.Boxes {
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: stretch;
}


/* BOX STYLES */

.Box {
    width: 10%;
    height: 10%;    
    border: 1px solid rgb(209, 217, 245);
    background-color: rgb(250, 250, 240);
    display: inline-block;
}

.Box:hover {
    background-color: rgb(240, 238, 240);
}

.Box:focus {
    outline: none;
}

.BoxActivated,
.BoxActivated:hover {
    background-color: rgb(29, 89, 93);
    border: 1px solid rgb(247, 247, 237);
}



.BoxNext,
.BoxNext:hover {
    background-color: rgb(200, 200, 85);
    border: 1px solid rgb(247, 247, 237);
}

.BoxMust,
.BoxMust:hover {
    background-color: rgb(94, 95, 41);
    border: 1px solid rgb(247, 247, 237);
}

/* .BoxFlaged,
.BoxFlaged:hover {
    background-color: rgb(146, 0, 0);
    border: 1px solid rgb(247, 247, 237);
} */
