.Board {
    width: 100%;
    height: 90%;
    margin: 0px;
    box-sizing: border-box;
}
.ModalText {
    color: black;
}

@media only screen and (max-width:320px) {
    .Board {
        margin:0
    }
    
}