.Modal {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 1.6rem;
    height: 90%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 3rem;
}

@media (min-width: 500px) {
    .Modal {
        width: 70%;
        max-height: 60%;
        left: 15%;
        top: 30%;
    }
}

@media (min-width: 500px) and (min-height: 700px) {
    .Modal {
        max-height: 40%;
    }
}