.Modal {
    text-align: center;
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 30px;
}

@media (min-width: 500px) {
    .Modal {
        width: 70%;
        max-height: 50%;
        left: 15%;
        top: 30%;
    }
}