.Form {
    text-align: center;
    width: 100%;
}
.Input {
    margin: .5rem auto;
    border-radius: 2rem;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font-family: inherit;
    font-size: 1.6rem;
    padding: .6rem 1rem;
    display: block;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s;
}

.Input:focus {
    background-color: #ccc;
    width: 70%;
}