.Button {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 13px;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}


.Win {
    color: #5C9210;
}

.Lost {
    color: #944317;
}