.Button {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 1.3rem;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
}


.Win {
    color: #5C9210;
}

.Lost {
    color: #944317;
}