.CancelButton {
    display: inline-block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: rgb(192, 0, 0);
    box-sizing: border-box;
    padding: .5rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    width: 5%;
}

.CancelButton:hover {
    color: red
}