.CancelButton {
    background-color: transparent;
    border: none;
    color: rgb(192, 0, 0);
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    width: 5%;
    margin-left: 0;
}

.CancelButton:hover {
    color: red
}