.Stats {
    box-sizing: border-box;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0 20px;
    background-color: #eee;
}

.Stats div{
    display: inline-block;
    box-sizing: border-box;
}