.Stats {
    font-size: 1.6rem;
    text-transform: uppercase;
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0 20px;
    background-color: #eee;

    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.Stats div{
    display: inline-block;
    box-sizing: border-box;
}

.Modal {
    font-size: 1.6rem;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
}

.Modal p{
    margin-bottom: 1.5rem;
}
@media only screen and (max-width: 600px),
       only screen and (max-width:1100px) and (orientation: landscape) {
    .Stats {
        font-size: 1rem;
    }
    .Modal {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 600px) and (max-height: 300px) and (orientation: landscape){
    .Stats {
        font-size: .8rem;
    }
    .Modal,
    .Modal p {
        font-size: 1rem;
    }
}