.ModalButtons {
    display: block;
    margin-right: 1rem;
    font: inherit;
}

.Buttons {
    padding: 0 .5rem;
    border: none;
    border-radius: 2rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    display: block;
    height: 5rem;
    font-size: 1.6rem;
    transition: all .2s;
}

.Buttons:hover {
    font-size: 1.8;
    color: rgb(142, 172 , 174);
    background-color: white;
}

.Activated {
    font-size: 1.8rem;
    border: none;
    position: relative;
    border-radius: 2rem;
    color: rgb(142, 172 , 174);
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    margin: 1rem 0;
    display: block;
    height: 5rem;
    z-index: 500;
    transition: all .2s;
}



@media (max-width: 600px) {

    .Buttons {
        border: 2px solid white;
        height: 100%;
        font-size: 1.2rem
    }

    .Activated {
        font-size: 1.2rem;
        border: 2px solid white;
        color: rgb(142, 172 , 174);
        background-color: white;
    }

    
    
}